* {
  margin: 10px 5px 0 5px;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.header {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
}
.nav li {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 0 0 20px;
  font-size: 1.5em;
}
.nav li:hover {
  border-bottom: 2px solid yellow;
}
.principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 4em;
  color: red;
}
.principal h3 {
  font-size: 2em;
}
.principal p {
  font-size: 0.5em;
}

.footer {
  text-align: center;
}
@media screen and (max-width: 400px) {
  .principal {
    flex-direction: column;
  }
}